<% layout('../layout') %>

<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box pt-0 pb-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item " aria-current="page"><a href="/dashboard"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Andar Bahar Game Winners List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card-box" style="height: 74px;">
            <h4 class="header-title mt-0 mb-3 text-center" style="color: rgb(141, 128, 128)">
                Andar Bahar Game Winners Of Date : <%= gameDate %>,
                Provider : <%= data.dispData.providerName %>, 
                <%= data.gametype[0].gameName %> : <%=  data.dispData.providerResult  %>
            </h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card-box">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <h1 class="text-center" style="color: rgb(141, 128, 128);font-size: x-large;"><%= data.gametype[0].gameName %> Winners </h1>
                        <table id="datatable" class="table table-bordered dt-responsive nowrap text-center text-dark">
                            <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Winner Name</th>
                                <th>Mobile No.</th>
                                <th>Game</th>
                                <th>Bid Digit</th>
                                <th>Bid Date</th>
                                <th>Bidding Amount</th>
                                <th>Rate</th>
                                <th>Total Amount</th>
                            </tr>
                            </thead>
                            <tbody>

                                <% 
                                if(resultData){
                                    var gamePrice = data.gametype[0].gamePrice;
                                    var totAmount = 0;
                                }
                                for(index in resultData) {
                                    var i = parseInt([index]);
                                    var j = i+1;
                                    var calAmt = resultData[index].biddingPoints * gamePrice;
                                    totAmount = totAmount + calAmt;
                                %>
                                    <tr>
                                        <td>   <%= j %>  </td>
                                        <td>   <%= resultData[index].userName %>  </td>   
                                        <td>   <%= resultData[index].mobileNumber %>  </td>   
                                        <td>   <%= resultData[index].gameTypeName %>  </td>   
                                        <td><p class="badge badge-purple">
                                            <%= resultData[index].bidDigit %>
                                        </p></td>   
                                        <td><p class="badge badge-purple">
                                                <%= resultData[index].gameDate %> 
                                        </p</td>   
                                        <td>   <%= resultData[index].biddingPoints %>  </td>   
                                        <td>   <%= gamePrice %>  </td>   
                                        <td>   <%= calAmt %>  </td>
                                    </tr>
                                <%  } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="9">Total Payable Amount : <%= totAmount %> /-</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if(data.resultStatus === 0){ %>
        <div class="col-xl-12 text-center">
            <a href="#custom-modal" class="btn btn-dark waves-effect width-md waves-light" data-animation="slide" id="confirmPayemt" data-plugin="custommodal" data-overlaycolor="#36404a"> ***Confirm Payment***  </a>  
        </div>
        <input type="hidden" value="<%= data.dispData._id %>" id="providerId" />
        <input type="hidden" value="<%=  data.dispData.providerResult  %>" id="winDigit" />
        <input type="hidden" value="<%= gameDate %>" id="date" />
        <input type="hidden" value="<%= data.gametype[0].gamePrice %>" id="gamePrice" />
        <input type="hidden" value="<%= data.resultId %>" id="resultId" />
        <div id="custom-modal" class="modal-demo" style="display: none;margin-left: 18%;">
        <div class="custom-modal-text mr-2 ml-2" style="width: 75%;height: 150px;background-color: #f3efe9ed;">
            <h1 style="font-size: medium;color: #3e6a6b;"> Are You Sure Want To Confirm Payment ?</h1>
            <div class="row">
            <div class="col-xl-2" style="display: none;" id="loaderProg">
                <img src="../../assets/images/loader.gif" style="width: 80px;"/>
            </div>
            <div class="col-xl-10">
                <button type="button" class="btn btn-dark " style="float: right;margin-top: 10%;" onclick="Custombox.modal.close();">  Close </button>
                <button type="button" class="btn btn-dark mr-2" style="float: right;margin-top: 10%;" id="hideIt" onclick="add();"> Yess!! Confirm Payment </button>
            </div>
        </div>
        </div>
        </div>
    <%  } %>
<div id="LangTable">
		<a href="/andarbahargameresult" id="aa"></a></div>
</div>

<script>
function add()
{   $("#hideIt").attr("disabled", true);
    const providerId = document.getElementById('providerId').value;
    const windigit = document.getElementById('winDigit').value;
    const gameDate = document.getElementById('date').value;
    const gamePrice = document.getElementById('gamePrice').value;
    const resultId = document.getElementById('resultId').value;
    document.getElementById('loaderProg').style.display = 'block';
    fetch("/addWinpoints/abWinners", {
        method: 'POST', 
        body: JSON.stringify({ providerId: providerId, windigit: windigit, gameDate: gameDate,gamePrice: gamePrice, resultId: resultId}),
        headers: {
            "Content-Type": "application/json"
        },
        credentials: 'same-origin',
    })
    .then(res => res.json())
    .then(body => {
        document.getElementById('loaderProg').style.display = 'none';
        Custombox.modal.close();
        !function(t) {
            var e = function() {};
            e.prototype.init = function() {
                Swal.fire({
                    title:"Points Added Successfully",
                    type:"success",
                    confirmButtonClass:"btn btn-confirm mt-2",
                })
            }, t.SweetAlert = new e, t.SweetAlert.Constructor = e
        }(window.jQuery),
        function(t) {
            window.jQuery.SweetAlert.init()
            var audio = new Audio('../../assets/sound/eventually.mp3');
            audio.play();
            $('.swal2-confirm').click(function(){
                document.getElementById("aa").click();
            });
        }();
    })
}

const pusher = new Pusher('c5324b557c7f3a56788a', {
    cluster: 'ap2',
    forceTLS: true
});

const channel = pusher.subscribe('my-channel');
channel.bind('my-event', function(data) 
{
    if(data.type === 5207){
        redirect()
    }
});

function  redirect()
{
    document.getElementById("aa").click();
}

</script>